{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>To-Do lists</title>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link href="/static/base.css" rel="stylesheet">
    </head>
    <body>
        {% bootstrap_messages %}
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 jumbotron">
                    <div class="text-center">
                        <h1>{% block header_text %}{% endblock %}</h1>
                        <form id="id_form" method="post" action="{% block form_action %}{% endblock %}">
                            {% csrf_token %}
                            {% bootstrap_css %}
                            <input class="form-control input-lg" id="id_new_item" name="item_text" placeholder="Enter a to-do item"/>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    {% block table %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>